*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}
#container{
    width: 100%;
    height: 100vh;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
}
.logo{
    width: 90px;

}
.list-items{
    list-style: none;
    display: inline;
    margin: 0px 20px;
}

.links{
    text-decoration: none;
    font-weight: 700;
    color: black;
}
.links:hover{
    text-decoration: underline;
    color: rgb(2, 66, 9);
}
.home-content{
    margin: 13% 0px 0px 8%;
}

#username{
    font-size: 50px;
    margin-bottom: 20px;
    font-family: "Dancing Script", cursive;
}
#lname{
 font-family: "Dancing Script", cursive;
 color: rgb(2, 157, 5);
}
#user-details{
    line-height: 1.5;
    
}
#download{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    margin-top: 30px;
    display: inline-block;
    border-radius: 10px;
}
.home-img{
    width: 45%;
    height: 75%;
    position: absolute;
    right: 30px;
    bottom: 0px;
}

.group1{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    /* since i dont want to show this left 50 property on screen i use transform here */
    transform: translate(-50%);
    transition: bottom 2s, left 1s;
}

.home-img:hover #shape{
    bottom: 70px;
}
    

.home-img:hover #girl{
    left: 30%;
}
#about{
    margin: 15% 8% 0px 8%;
}
.sectionhead{
    text-align: center;
}
.mainHead{
    font-size: 30px;
}
.subHead{
    color: green;
    font-size: 20px;
}


.aboutBody{
margin-top: 20px;
display: grid;
grid-template-columns: repeat(2,1fr);
align-items: center;
gap: 50px;
}

.img1{
    width: 80%;
}
.aboutContent{
    font-size: 18px;
    text-align: justify;
}
.informations{
    margin-top: 1.3rem;
}
.infobox{
    margin-bottom: 10px;
}
.infobox span{
    margin-left: 1rem;
}
#skills{
    margin: 8% 8% 0px 8%;
}
.skillcontent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 30px;
}
.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
}
.barHead,.barpercent{
    font-weight: 500;
    font-size: 1.3rem;
}
.basebar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
}
.potraitbar{
    background-color: green;
    width: 90%;
}
.landscapebar{
    background-color: green;
    width: 98%;
}
.editbar{
    background-color: green;
    width: 86%;
}
.wildlifebar{
    background-color: green;
    width: 80%;
}
.myskill{
    width: 80%;
}
#contact{
    margin: 13% 8% 0px 8%;
}
.iconcollection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand{
    color: black;
    font-size: 1.7rem;
}
.icon:hover{
    background-image: linear-gradient(to bottom right,green,blue,violet);
}
.icon:hover .brand{
    color: white;
    /* animation */
    animation: rotate 3s ;
}
@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
    20%{
        transform: rotate(-30deg);
    }
    40%{
        transform: rotate(30deg);
    }
     60%{
        transform: rotate(-30deg);
    }
     80%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-30deg);
    }
}
footer{
    margin: 13% 0px 0px 8%;
}
#copyright{
    text-align: center;
    font-weight: 600;
}
.uparrow{
    float: right;
    margin: -30px 20px 40px 0px ;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;

}
::-webkit-scrollbar-track{
    background-color: black;
}
::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 10px;
}